type hal_motor_default, dev_type;
type sysfs_led, sysfs_type, fs_type;
type sysfs_tp_fodhbm, sysfs_type, fs_type;
type sysfs_tp_fodstatus, sysfs_type, fs_type;
